files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_change_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown -R 33:tape /var/www/html/wp-content/

  "/etc/cron.d/asset_sync_cron":
      mode: "000644"
      owner: root
      group: root
      content: |
          0 * * * * root /usr/local/bin/asset_sync_cron.sh

  "/usr/local/bin/asset_sync_cron.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
          #!/bin/bash

          aws s3 sync /var/www/html/wp-content/ s3://my-s3-bucket/
          exit 0

commands:
  01_make_content_dir:
    command: mkdir -p /var/www/html/wp-content/ 
  02_copy_content_from_s3:
    command: aws s3 cp s3://my-s3-bucket/  /var/www/html/wp-content/ --recursive
  03_remove_old_cron:
        command: "rm -f /etc/cron.d/asset_sync_cron.bak"